<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :direction, params[:direction] %>

<div class="demo">
  <br>
  <table class="table is-responsive is-fullwidth is-bordered is-narrow">
    <thead>
      <tr>
        <th><%= sort_link 'Name' %></th>
        <th><%= sort_link 'Date' %></th>
        <th><%= sort_link 'Number' %></th>
        <th><%= sort_link 'Description' %></th>
        <th colspan="2"></th>
      </tr>
    </thead>
</div>


  <div class="field is-grouped">
  <%= form_tag(lists_path, :method => "get", id: "lists_search") do %>
  <p class="control">
    <%= text_field_tag :search, params[:search], placeholder: "Search for name", class: 'input' %>
  </p>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: 'button is-warning' %>
    </span>
  <% end %>
</div>

<h2>Click red header below to sort</h2>
<% @lists.each do |list| %>
<tbody>
  <tr>
    <td id="darken"><%= link_to list.name, new_list_path %></td>
    <td><%= list.date %></td>
    <td><%= list.number %></td>
    <td><%= list.description %></td>
    <td><%= link_to 'Edit', edit_list_path(list) %></td>
    <td><%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

</tbody>
<% end %>
</table>
