<p id="notice"><%= notice %></p>


<section class="hero is-primary">
  <div class="hero-body">
      <p class="subtitle">Company List</p>
  </div>
</section>

<br>

<%= link_to 'New List', new_list_path, :class => 'button is-primary' %>

<!-- TODO: refactor the path -->
<%= form_tag import_lists_path, :class => 'button is-primary', multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag 'Upload CSV' %>
<% end %>

<div class="demo">

  <br>
  <table class="table is-responsive is-fullwidth">
    <thead>
      <tr>
        <th><%= link_to 'Name', :sort => 'name' %></th>
        <th><%= link_to 'Date', :sort => 'price' %></th>
        <th><%= link_to 'Number', :sort => 'number' %></th>
        <th><%= link_to 'Description', :sort => 'description' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <% @lists.each do |list| %>
    <tbody>
      <tr>
        <td><%= list.name %></td>
        <td><%= list.date %></td>
        <td><%= list.number %></td>
        <td><%= list.description %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    </tbody>
    <% end %>
  </table>

</div>
