<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Company List
      </h1>
    </div>
  </div>
</section>

<br>

<%= link_to 'New List', new_list_path, :class => 'button is-warning', :id =>"my-table"%>


<!-- TODO: refactor the path -->
<%= form_tag import_lists_path, :class => 'button is-warning', multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag 'Upload CSV' %>
<% end %>

<br>


  <div id="lists"><%= render 'lists' %></div>
