<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Company List
      </h1>
    </div>
  </div>
</section>

<br>

<%= link_to 'New List', new_list_path, :class => 'button is-warning', :id =>"my-table"%>


<!-- TODO: rspec testing -->
<%= form_tag import_lists_path, :class => 'button is-warning', multipart: true do %>
<%= file_field_tag :file, input_html: { name: 'Choose CSV File' } %>
<%= submit_tag 'Upload CSV', data: { "data-test-id" => "sentia-csv-import"} %>
<% end %>


<%= link_to "Remove All", list_remove_all_path(@lists), :method => :get, :class => 'button is-warning'%>

<br>

<div id="lists"><%= render 'lists' %></div>
